@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

#zvE1 {
  display: block;
  margin: auto;
  width: 15%;
  height: 30px;
  position: relative;
  right: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

#zvE1:focus ~ #person1 {
  color: rgb(109, 106, 106);
}

#zvE2 {
  display: block;
  margin: auto;
  width: 15%;
  height: 35px;
  position: relative;
  left: 9%;
  top: 13px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

#zvE2:focus ~ #person2 {
  color: rgb(109, 106, 106);
}
#zvE1::-webkit-input-placeholder {
  letter-spacing: 7px;
  color: #ccc;
}

#zvE2::-webkit-input-placeholder {
  letter-spacing: 7px;
  color: #ccc;
}
/* * {
  margin: 0;
  padding: 0;
} */
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans";
}

section:nth-of-type(1) {
  height: 100vh;
  width: 100vw;
  background: #fff;
}

section:nth-of-type(2) {
  height: 100vh;
  width: 100vw;

  place-items: center;
  background: #fff;
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: -2;
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

#berechnungsjahr-container {
  padding: 20px;
  border-bottom: solid #ccc 1.5px;
  border-top: #ccc solid 1.5px;
  transform: translateY(20px);
}

#verhältnisse-container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

h4 {
  color: rgb(172, 165, 165);
}

#verhältnisse-headline {
  display: inline-block;
  position: relative;
  width: 300px;
  top: -20px;
  font-size: 0.9rem;
}
#verheiratet,
#alleinstehend {
  width: 60px;
  height: 10px;
  display: inline-block;
  visibility: hidden;
  left: 60%;
}

#label-wrapper {
  padding-right: 30%;
}

#label-verheiratet {
  padding-bottom: 20px;
  position: relative;
  right: 72px;
  top: -25px;
  color: rgb(110, 106, 106);
  font-size: 0.9rem;
}
#label-alleinstehend {
  position: relative;
  right: 113px;
  color: rgb(110, 106, 106);
  font-size: 0.9rem;
}

#zvE-headline {
  text-align: center;
  padding-left: 3%;
}

#btn {
  display: block;
  margin: auto;
  position: relative;
  right: 10px;
  top: 26px;
  padding: 15px 25px;
  border-radius: 5px;
  border: #ccc 2px solid;
  color: rgb(145, 142, 142);
  cursor: pointer;
}
#label-berechnungsjahr {
  padding-left: 13%;
  color: rgb(82, 79, 79);
  font-weight: 600;
}

article {
  width: 90vw;
}

#betrag-container1 div,
#betrag-container2 div {
  width: 30%;
  height: 200px;
  border: solid rgb(226, 224, 224) 2px;
  margin: 35px;
  border-radius: 6px;
}

#betrag-container1 div {
  margin: auto;
}

#betrag-container2 {
  display: flex;
  justify-content: center;
  padding-top: 0;
}

#betrag-container1 {
  padding-top: 50px;
  position: relative;
}

img {
  width: 45px;
  margin: auto;
  display: block;
  padding-top: 20px;
}

h5 {
  color: rgb(136, 132, 132);
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
}

#eingabe-daten p {
  font-size: 0.8rem;
  color: rgb(136, 132, 132);
  padding-left: 10px;
  padding-bottom: 3px;
}

#eingabe-daten h5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

h6 {
  background-color: rgb(194, 187, 187);
  height: 45px;
  margin: 0;
  width: 100%;
}
#formel-farbe {
  position: relative;
  bottom: 0px;
  top: -6px;
  margin-top: 6px;
}

#person1 {
  position: relative;
  top: -45px;
  left: 56.5%;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(161, 153, 153);
}
#person2 {
  position: relative;
  top: -37px;
  left: 67%;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(161, 153, 153);
}

#curved {
  position: relative;
  height: 20px;
  left: 28%;
  width: 35%;

  top: 35px;
  border: none;
  border-top: 2px solid rgb(238, 232, 232);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
#line {
  display: inline-block;
  position: absolute;
  height: 36px;
  width: 2px;
  background: rgb(238, 232, 232);
  left: 46%;
}

#formel-daten p {
  font-size: 0.6rem;
  padding-left: 15px;
}

#betrag-txt {
  text-align: center;
  letter-spacing: 5px;
  color: rgb(131, 127, 127);
  font-size: 2rem;
  font-weight: 400;
}

#cls {
  position: absolute;
  top: 7px;
  left: 32%;
  background: #fff;
}
#close-btn {
  position: absolute;
  top: 29px;
  left: 32%;
  height: 40px;
  width: 43px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}

#zvE-txt,
#berechnungsj-txt,
#persönlich-txt {
  color: #000;
  font-weight: 600;
}

select {
  width: 100px;
  margin-right: 35px;
  text-align: center;
}
#line-top {
  position: absolute;
  width: 100vw;
  height: 40px;
  border: none;

  margin-top: 50px;
}
#ministerium {
  position: absolute;
  width: 150px;
  bottom: -450px;
  right: 10%;
}
#ministerium2 {
  position: absolute;
  width: 150px;
  bottom: 60px;
  right: 10%;
}
/*=========================================================*/

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 20px;
}

.switch #checkbox {
  opacity: 1;
  width: 0px;
  height: 0px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.3s;
}

#checkbox:checked + .slider {
  background-color: #ccc;
}

#checkbox:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#checkbox:checked + .slider:before {
  transform: translateX(33px);
}

#switch-wrapper {
  transform: rotate(90deg);
}

/*========================*/
path {
  color: blue;
}
